.verify-container {
  padding: 20px;
  font-family: Arial, sans-serif;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width:78.8%;
  height: 82%;
  margin-top: 64px;
  margin-left: 240px;
  background: #fcfbfb;
}

.verify-h2 {
  text-align: center;
  margin-bottom: 30px;
}

.verify-form-section {
  margin-top: 20px;
}

.verify-search-btn {
  margin-left: -60px;
  margin-right: 30px;
  margin-top: 1px;
  width: 25px;
  border: none;
  background:#5fc3d7;
  border-radius: 50%;
  padding: 4px;
  cursor: pointer;
}

.verify-search-btn:hover {
  background: #0f3c46;
  color: white;
}

.verify-declaration-number {
  margin-left: 20%;

  margin-bottom: 20px;
}

.verify-declaration_no {
  font-size: 18px;
  color: black;
  margin-left: -10px;
  margin-right: -30px;
}

.verify-declaration-no {
  padding: 5px;
  margin-right: 60px;
  margin-left: 40px;
  margin-top: -2px;
  width: 180px;
  border-radius: 5px;
  border-color: black;
  border-style:groove ;
  border-width: 1px;
}

.verify-suggestion-box {
  position: fixed;
  margin-top: 2px;
  margin-left: 190px;
  border-radius:5px ;
  list-style-type: none;
  width: 150px;
  height:100px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background: #f7f5f5;
  cursor: pointer;
}

.verify-suggestion-item {
  margin-top: 15px;
  padding: 5px;
  border-radius:6px ;
}

.verify-suggestion-item:hover {
  background:#535353;
  color: whitesmoke;
  width: 120px;
}

.verify-approvebtn1 {
  cursor: pointer;
  border: none;
  background: #5fc3d7;
  margin-top: 1px;
  border-radius: 4px;
  width: 10%;
  padding: 5px;

}

.verify-approvebtn1:hover {
  background: #0f3c46;
  color: white;
}

.verify-rejectbtn1 {
  cursor: pointer;
  border: none;
  background: #5fc3d7;
  margin-top: 1px;
  border-radius: 4px;
  width: 10%;
  padding: 5px;
}

.verify-rejectbtn1:hover {
  background: #0f3c46;
  color: white;
}

.verifydoc-reset-btn {
  cursor: pointer;
  border: none;
  background: #5fc3d7;
  margin-top: 1px;
  margin-left: 10px;
  border-radius: 4px;
  width: 12%;
  padding: 5px;
}

.verifydoc-reset-btn:hover {
  background: #0f3c46;
  color: white;
}

.verify-show-doc-type-btn {
  cursor: pointer;
  border: none;
  margin-left: 1px;
  margin-top: -3px;
  background:none;
  border-radius: 4px;
  width: 22px;
  height: 22px;
  position:absolute;
  filter: invert(1);
}

.verify-show-doc-type-btn:hover {
  background:none;
}

.verify-calendarbtn {
  cursor: pointer;
  border: none;
  background:none;
  margin-left: 5px;
  border-radius: 4px;
  padding: 4px;
  margin-top: -5px;
}

.verify-calendarbtn:hover {
  background: none;
}

.verifydoc-dropdown-list {
  position: fixed;
  background: white;
  border: 1px solid #ccc;
  margin-top: 2px;
  margin-left: 60px;
  color: black;
  border-radius: 4px;
  z-index: 1000;
  padding: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.verify-doc-list {
  list-style-type:none;
  padding: 0;
  font-weight:lighter;
}

.verify-allbtn {
 padding: 5px; 
  cursor: pointer;
}

.verify-allbtn:hover {
  background: rgb(77, 73, 73);
  color: white;
}

.verify-declaration {
  padding: 5px; 
  cursor: pointer;
}

.verify-declaration:hover {
  background: rgb(77, 73, 73);
  color: white;
}

.verify-invoice {
  padding: 5px; 
  cursor: pointer;
}

.verify-invoice:hover {
  background: rgb(77, 73, 73);
  color: white;
}

.verify-packing-list {
  padding: 5px; 
  cursor: pointer;
}

.verify-packing-list:hover {
  background: rgb(77, 73, 73);
  color: white;
}
.verify-document-table {
  width: 100%;
  margin-top: 30px;
  border-collapse: collapse;
}

.verify-document-table th {
  color: white;
  padding: 10px;
}
.verify-document-table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align:center;
}

.verify-document-table th {
  background-color: #156082;
}

.verify-date-picker-header {
  padding: 5px;
  font-size: 14px;
  width: 30px;
  height: 30px;
  border: none;
}


.verify-dropdown-arrow {
  width: 24px;
  height:24px;
  margin-top: -1px;
  margin-left: -6px;
}

.verify-dropdown-arrow:hover {
  filter:invert(5);
}
.doc-type-filter {
  margin-bottom: 20px;
  margin-left: 25%;
}

.doc-type-filter select {
  padding: 5px;
  font-size: 14px;
  margin-left: 10px;
}

.doc-type-dropdown {
  font-size: 14px;
  margin-left: 10px;
  padding: 5px;
  width: 160px;
}

.global-date-filter {
  margin-left: 25%;
}

.datefilter {
  padding:5px;
}

.react-datepicker {
  position: fixed;
  z-index: 9999; /* Ensure the date picker appears above other elements */
}