.notification-page {
  position: relative;
  min-height: 150vh;
  padding: 20px;
}
h3 { 
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
  color: #1573d1; /* Grey color */
}

/* .notification-icon {
  position: fixed;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background-color: #f1f1f1;
  border-radius: 50%;
  padding: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s;
} */

/* .notification-icon:hover {
  background-color: #e0e0e0;
} */

.notification-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 550px;
  max-height: 50%;
  background-color: #fff;
  border-radius: 10px;
  /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); */
  padding: 30px;
  z-index: 9999;
  display: flex;
  flex-direction: column;
}

.notification-close {
  border: none;
  background: none;
  cursor: pointer;
  color: red;
  margin-left: 260px;
  position: relative;
  bottom: 20px;
}

.popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px; /* Increased margin for more space */
}

.popup-header h3 {
  margin: 0;
  font-size: 20px; /* Increased font size */
}

.close-btn {
  background: none;
  border: none;
  font-size: 20px; /* Increased font size */
  cursor: pointer;
}

.notification-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  flex-grow: 1;
  overflow-y: auto; /* Make the notification list scrollable */
  max-height: calc(100% - 60px); /* Increased height for the list */
  padding-right: 10px; /* Space for scrollbar */
}

/* Custom Scrollbar Styling for Notification List */
/* .notification-list::-webkit-scrollbar { */
  /* width: 6px; Set the width of the scrollbar */
/* } */

/* .notification-list::-webkit-scrollbar-track {
  background: #e8edf3; /* Track background color */
  /* border-radius: 4px; */ 
/* } */

/* .notification-list::-webkit-scrollbar-thumb {
  background-color: #081028; Thumb color
  border-radius: 4px;
} */

/* .notification-list::-webkit-scrollbar-thumb:hover {
  background-color:#081028;Thumb hover color
} */


.notification-item {
  /* box-shadow: rgba(0, 0, 0, 0.15) -0.05px 1.95px 2.6px; */
  padding: 12px 0; /* Increased padding for more space */
  border-bottom: 1px;
}

.notification-item:last-child {
  border-bottom: none;
}

.name {
  font-weight: bold;
  color: #0b3041;
}

.message {
  color: #555;
}
