.upload-document-container {
  width: 1115px;
  margin-top: 64px;
  margin-left: 240px;
  height: 535px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.upload-h2 {
  text-align: center;
  color: #333;
  margin-top: 30px;
  margin-bottom: 10px;
}


.upload-document-type-container {
  display: flex;
  gap: 0px;
  margin-left: -36px;
}

.upload-p {
  font-size: 18px;
  color: #333;
  margin-left: 333px;
  margin-top: 8px;
  margin-right: 50px;

}

.upload-checkbox-section {
  /* margin-top: 5px; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
}

.file-upload label {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: black;
  color: white;
  font-size: 15px;
  transition: background-color 0.3s ease;
}

.file-upload {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.file-upload input[type="file"] {
  display: none; 
}

.upload-btn-container {
  text-align: center;
  margin-top: 30px;
}

.file-upload label:hover {
  background-color: #2d5254; 
}

.upload-declaration-number {
  font-size: 18px;
  color: #323131;
  margin-left: 276px;
  display: flex;
  align-items: center;
  gap: 8px; 
}

.upload-declaration-number-container {
  display: flex;
  align-items: center;
  gap: 8px; 
  margin-bottom: 20px;
  margin-left: 20px;
}

.upload-declaration-number-input {
  padding: 5px;
  font-size: 15px;
  border: 1px solid #000000;
  border-radius: 5px;
  width: 180px;
  /* text-align: center; */
  background-color: #f9f9f9;
}

.upload-arrow-icon {
  cursor: pointer;
  background:#43bade;
  font-size: 18px;
  color: black;
  width: 24px;
  height: 27px;
  padding-left: 6px;
  
  border-radius: 50%;
}

.upload-arrow-icon:hover {
  background: #0f3c46 ;
  color: white;
}

.declaration-options {
  position: absolute;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-top: 8px;
  padding: 10px;
  width: 160px;
  border-radius: 4px;
  z-index: 1000;
}

.upload-checkbox-item {
  /* display: flex; */
  align-items: center;
  gap: 25px;
  margin-bottom: 10px;
}

.upload-button {
  padding: 12px 30px;
  background-color: #43bade;
  color: white;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 36px;
  transition: background-color 0.3s ease;
}

.upload-button:hover {
  background-color: #0f3c46;
}

.upload-button:active {
  background-color: #19dd23;
}

.cancel-upload-button {
  border: none;
  background: none;
  margin-left: 5px;
  cursor: pointer;
  padding: 4px;
  border-radius: 5px;
}














