:root {
	--darkblue: #000b58;
}
.card-container {
	background-color: white;
	min-width: 400px;
	width: 700px;
	height: auto;
	border-radius: 14px;
	box-shadow: 0px 10px 30px hsl(185, 75%, 35%);
	margin-top: 10px;
	margin-left: 200px;
}

.profile-title {
	/* margin-left: 170px; */
	place-self: center;
	font-size: 1.5rem;
    color: #000b58;
	
}

.profile-header {
	background-image: url("../../assets/images/bg_vdart.png");
	background-color:#D4EBF8;
	background-position: 141px 3px;
	background-repeat: no-repeat;
	background-size:275px;
	text-align: center;
	border-top-left-radius: 14px;
	border-top-right-radius: 14px;

}

.edit_photo {
	background: none;
    border: none;
    cursor: pointer;
    margin-top: -10px;
}

.profile_img {
	width: 100px;
	border: solid black 2px;
	border-radius: 50%;
	/* margin-top: 75px; */
	/* margin-left: 30px; */
}

.profile_edit {
	width: 37px;
    height: 21px;
    position: relative;
    right: 30px;
    bottom: 5px;
	cursor: pointer;
    filter: invert(1);
}

.bold-text {
	font-weight: bold;
	font-size: 1.1rem;
	text-align: center;
	padding: 10px 20px 0px 20px;
}

.normal-text {
	font-weight: normal;
	font-size: 0.95rem;
	color:black;
	text-align: center;
	padding-bottom: 10px;
}

/* SOCIAL STATS */
.smaller-text {
	font-weight: normal;
	font-size: 0.7rem;
	color: hsl(0, 0%, 50%);
	text-align: center;
	letter-spacing: 1px;
	padding-bottom: 20px;
	line-height: 5px;
}

.social-container {
	display: flex;
	border-top: solid rgb(206, 206, 206) 1px;
	text-align: center;
}

.followers {
	flex: 1;
}

.likes {
	flex: 1;
}

.photos {
	flex: 1;
}