/* ChangePassword.css */


  
  .changepassword-h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
    justify-self: center;
  }
  
  .form-group {
    margin-bottom: 15px;
    width: 100%;
    max-width: 400px;
  }
  
  .changepassword-label {
    display: block;
    font-size: 16px;
    color: #555;
    margin-bottom: 5px;
  }
  
  .changepassword-input {
    width: 89%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
  }
  
 .changepassword-input:focus {
    border-color: #4d90fe;
    box-shadow: 0 0 5px rgba(77, 144, 254, 0.3);
  }
  
  /* .button {
    background-color:#5fc3d7;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
    max-width: 150px;
    transition: background-color 0.3s;
    text-align: center;
  } */
  
  .changepassword-button:hover {
    background-color:#5fc3d7;
  }
  
  .changepassword-error {
    background-color: #0b3041;
    color: #d8000c;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    width: 100%;
    max-width: 400px;
    text-align: center;
  }
  
  .changepassword-success {
    background-color: #d4edda;
    color: #155724;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    width: 100%;
    max-width: 400px;
    text-align: center;
  }
  .change-password-container {
    max-width: 400px;
    margin: auto;
    padding: 25px;
    border: 1px solid #ccc;
    border-radius: 52px;
    background-color: #f9f9f9;
   
    height: 360px;
    width: 400px;
}
.form2-btn{
  width: 70px;
  padding: 8px;
  align-self: center;
  background-color: #5fc3d7;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  margin: 10px 155px;
  
}

.body {
    font-family: 'Arial', sans-serif;
    background: #0b3041;
}

.changepassword-div {
  display: flex;

  justify-content: center;
  align-items: center;
  min-height: 408px;
  background-color: #0b3041;
  width: 433vh;
  border-radius: 17px;
  height: 100vh;
}