:root {
    --dark-blue: #000b58;
    --mid-blue: #003161;
    --light-teal: #fff4b7;
    --white: #ffffff;
  }
  
.file-upload-page-outer{
    text-align: -webkit-center;
    text-align-last: left;
    width: 100%;
    height: 100vh;
}
  .file-upload-page {
    max-width: 800px;
    /* margin: 50px auto; */
    margin-left: 250px;
    margin-top: 41px;
    padding: 20px;
    background-color:#f9f9f9;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  }
  
  .page-title {
    font-size: 28px;
    color: var(--dark-blue);
    text-align: center;
    margin-bottom: 20px;
    place-self: center;

  }
  
  .upload-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .declaration-section {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .declaration-label {
    font-size: 16px;
    color: var(--mid-blue);
    font-weight: bold;
    margin-top: -5px;
  }
  
  .declaration-input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 2px solid var(--mid-blue);
    border-radius: 6px;
    outline: none;
  }
  
  .declaration-input:focus {
    border-color: var(--teal);
    box-shadow: 0 0 8px rgba(0, 106, 103, 0.3);
  }
  
  .go-button {
    padding: 10px 20px;
    font-size: 16px;
    color: var(--white);
    background-color: #43bade;
    border: none;
  
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .go-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .go-button:hover:not(:disabled) {
    background-color:  #0f3c46;
  }
  
  .file-upload-section {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .file-upload-item {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .file-upload-label {
    flex: 1;
    font-size: 16px;
    color: var(--dark-blue);
    font-weight: bold;
  }
  
  .file-actions {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .upload-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #156082;
    color: var(--white);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .upload-icon:hover {
    background-color: #0f3c46;
  }
  
  .hidden-input {
    display: none;
  }
  
  .file-name {
    font-size: 14px;
    margin-top: 0px;
    color: var(--mid-blue);
  }
  
  .delete-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: none;
    background:none;
    color: #e03e4b;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  
  .submit-button {
    align-self: center;
    padding: 12px 30px;
    font-size: 16px;
    color: var(--white);
    background-color: #43bade;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }