.admin-creation-container {
  width: 53%;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  margin-left: 386px;
  margin-top: 50px;

}

.admin-creation-title {
  font-size: 25px;
  margin-bottom: 20px;
  text-align: center;
}

.admin-form-group {
  margin-bottom: 20px;
}

.admin-label {
  font-size: 1.1rem;
  display: block;
  margin-bottom: 5px;
}

.mandatory {
  color: red;
}

.admin-input {
  width: 100%;
  padding: 12px;
  font-size: 1rem;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.button-group {
  display: flex;
  justify-content: space-between;
}

.btn-submit, .btn-cancel {
  padding: 12px 20px;
  font-size: 1.1rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.btn-submit {
  background-color: #4CAF50;
  color: white;
}

.btn-cancel {
  background-color: #f44336;
  color: white;
}

.btn-submit:hover {
  background-color: #45a049;
}

.btn-cancel:hover {
  background-color: #d32f2f;
}
