/* Header Container */
body.light-theme {
  background-color: #fff;
  color: #000;
}

body.dark-theme {
  background-color: #121212;
  color: #fff;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  background-color: #000B58 !important;
  gap: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: relative;
  padding: 10px;
}

.header-profile-image {
  height: 100%;       
  border-radius: 50%; 
}

/* Search Bar */
.search-bar-container {
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 4px;
  width: 220px;
}

.search-input {
  height: 30px;
  width: 100%;
  padding: 5px 30px 5px 10px !important;
  border: 1px solid #006A67 !important;
  border-radius: 8px !important;
  font-size: 14px !important;
  color: #333;
}

.search-icon-btn {
  position: absolute;
  right: 5px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search_icon {
  width: 20px;
  height: 20px;
}

.search-suggestions {
  position: absolute;
  top: 35px;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  max-height: 150px;
  overflow-y: auto;
  border: 1px solid #006A67;
  border-radius: 4px;
  background: #FFF4B7;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.suggestion-item {
  padding: 10px;
  cursor: pointer;
  font-size: 14px;
  color: #333;
}

.suggestion-item:hover {
  background-color: #006A67; 
  color: white;
}

.no-suggestions {
  font-size: 14px;
  color: #aaa;
  text-align: center;
  margin-top: 10px;
}

/* Notification Button */
.notificationbtn {
  width: 40px;
  height: 40px;
  border: none;
  background: none;
  border-radius: 8px;
  cursor: pointer;
  position: relative;
}

.notificationbtn:hover {
  background: #66ccec;
}

.notification-icon {
  width: 28px;
  height: 28px;
  filter: invert(1);
}

.notification-badge {
  position: absolute;
  top: 5px;
  right: 5px;
  background: white;
  color: black;
  font-size: 12px;
  font-weight: bold;
  border-radius: 50%;
  min-width: 15px;
  min-height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/* Notification Dropdown */
.notification-dropdown {
  position: absolute;
  top: 60px;
  right: 20px;
  background: #f9f9f9; 
  width: 380px;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid #006A67;
  z-index: 2;
}

/* Profile Button */
.profilebtn {
  width: 40px;
  height: 40px;
  border: none;
  background: none;
  border-radius: 20px;
  cursor: pointer;
  color: #f9f9f9;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
}

.profile-icon1 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: white;
}

/* Profile Dropdown */
.profile-dropdown {
  position: absolute;
  top: 70px;
  right: 10px;
  background: #f9f9f9;
  border: 1px solid #006A67;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 280px;
  z-index: 2;
}

.profile-dropdown p {
  margin: 5px 0;
}

.dropdown-menu {
  list-style: none;
  padding: 0;
  margin: 10px 0 0;
}

.dropdown-item {
  background: none;
  border: none;
  width: 100%;
  text-align: left;
  padding: 8px 10px;
  cursor: pointer;
  font-size: 14px;
}

.dropdown-item:hover {
  background: #f0f0f0;
}

.signout-button {
  background: none;
  border: none;
  width: 100%;
  text-align: left;
  padding: 8px 10px;
  cursor: pointer;
  text-align: center;
  background: antiquewhite;
  font-size: 14px;
  color: red;
  border-radius: 4px;
  margin-top: 5px;
}

.signout-button:hover {
  background: #f8d7da;
}

@media screen and (max-width: 768px) {
  .search-bar-container {
    width: 180px;
  }
  
  .notification-dropdown {
    width: 300px;
    right: 10px;
  }
  
  .profile-dropdown {
    width: 240px;
  }
}