/* ResetPassword.css */

.reset-password-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}
.reset-btn-adjustment{
  text-align: -webkit-center;
}
.reset-h2{
  place-content: center;
  justify-self:center !important;
}
.reset-outer-container{
  width: 100%;
  height: 100vh;
  align-content: center;
  background-color: #0b3041;
}
.rest-h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.rest-form-group {
  margin-bottom: 15px;
}

.restpassword-label {
  display: block;
  font-size: 14px;
  color: #555;
  margin-bottom: 5px;
}

.reset-text {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.reset-submit {
  width: 44%;
    padding: 8px;
    align-self: center;
    background-color: #5fc3d7;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    margin-top: 18px;
}

.reset-submit:hover {
  background-color: #5fc3d7 !important;
}

.rest-error, .success {
  text-align: center;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
}

.rest-error {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}

.rest-success {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
}

.reset-text:focus {
  outline: none;
  border-color: #4CAF50;
}

@media (max-width: 500px) {
  .reset-container {
    padding: 15px;
  }

  .rest-h2 {
    font-size: 20px;
  }

  .rest-input[type="text"] {
    font-size: 14px;
    padding: 8px;
  }

  .rest-button {
    font-size: 14px;
    padding: 10px;
  }
}
.rest-form1 {
  max-width: 345px;
  margin: auto;
  padding: 25px;
  border: 1px solid #ccc;
  border-radius: 52px;
  background-color: #f9f9f9;
  margin-top: -17px;
  height: 288px;
  width: 326px;
}