/* Container Styles */
.emp-creation-container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  margin-left: 210px; /* Adjusted for the AsideBar width */
  margin-top: 100px;
}

.emp-inner-container{

}

.emp-creation-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  margin-left: 110px;
  margin-top: -40px;
}

/* Form Styles */
.emp-creation-form {
  display: flex;
  flex-direction: column;
  margin-left: 250px;
}

.emp-creation-form-group {
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  text-align: left;
}

/* Submit Button */
.emp-creation-submit-button {
  width: 25%;
  padding: 9px 17px;
  background-color: #5eb6d2;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 13px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 10px; /* Space between the buttons */
}

.emp-creation-submit-button:hover {
  background-color: #4ba3bf;
}

/* Cancel Button */
.emp-creation-cancel-button {
  width: 17%;
  padding: 9px 17px;
  background-color: #5eb6d2; /* Red background for cancel */
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 13px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  
}

.emp-creation-cancel-button:hover {
  background-color: #4ba3bf; /* Darker red on hover */
}


/* Unique Label Styling for Employee Creation Form */
.emp-creation-label {
  display: block;
  font-size: 12px;
  font-weight: bold;
  color: #333;
  margin-bottom: 8px;
  min-width: 115px;
  text-align: left;
}

.emp-creation-mandatory {
  color: red;
  font-size: 18px;
  margin-left: 5px;
}

/* Access Dates Styles */
.emp-creation-access-dates {
  display: flex;
  gap: 20px;
}

.emp-creation-access-date {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

/* Input Fields */
.emp-creation-input {
  width: 47%;
  max-width: 195px;
  padding: 4px;
  /* border-radius: 4px; */
  box-sizing: border-box;
  font-size: 14px;
}

.emp-creation-input::placeholder {
  font-style: italic;
  color: #aaa;
}

/* Input Field Alignment */
.emp-creation-input,
.emp-creation-select {
  /* margin-left: 10px; */
  margin-right: 10px;
}

/* Submit Button */
.emp-creation-submit-button {
  width: 17%;
  padding: 9px 17px;
  margin-left: -100px;
  background-color: #5eb6d2;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 13px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 126px;
}

.emp-creation-submit-button:hover {
  background-color: #4ba3bf;
}
