/* Container Styles */
.emp-creation-container {
  width: 100%;
  max-width: 800px;
  /* margin: 0 auto; */
  padding: 20px;
  margin-left: 250px; /* Adjusted for the AsideBar width */
  margin-top: 100px;
}
/* EmployeeCreation.css */

/* Color palette:
   - Dark Blue: #000B58
   - Light Blue: #003161
   - Teal: #006A67
   - Light Teal: #FFF4B7
*/

/* .emp-creation-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000B58;
} */

.emp-inner-container {
  background-color: #D4EBF8;
  padding: 2rem;
  border-radius: 10px;
  width: 100%;
  max-width: 500px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.emp-creation-title {
  color: #003161;
  text-align: center;
  margin-bottom: 1.5rem;
}

.emp-creation-form {
  display: flex;
  flex-direction: column;
}

.emp-creation-form-group {
  margin-bottom: 1rem;
  
}

.emp-creation-form-group-btn{
  display: flex;
    gap: 30px !important;
}

.emp-creation-label {
  display: block;
  margin-bottom: 0.5rem;
  color: #006A67;
  font-weight: bold;
}

.emp-creation-mandatory {
  color: red;
}

.emp-creation-input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #003161;
  border-radius: 5px;
  background-color: #fff;
  color: #003161;
  font-size: 1rem;
}

.emp-creation-input:focus {
  outline: none;
  border-color: #006A67;
  box-shadow: 0 0 5px rgba(0, 106, 103, 0.5);
}

.emp-creation-submit-button {
  background-color: #006A67;
  color: #FFF4B7;
  padding: 0.75rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 1rem;
}

.emp-creation-submit-button:hover {
  background-color: #003161;
}

.emp-creation-cancel-button {
  background-color: #FFF4B7;
  color: #006A67;
  padding: 0.75rem;
  border: 1px solid #006A67;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 1rem;
}

.emp-creation-cancel-button:hover {
  background-color: #006A67;
  color: #FFF4B7;
}
