.App {
  text-align: center;
}

.App-logo {
  height: 60vmin;
  pointer-events: none;
}

.auditpage {
  background: rgb(248, 249, 250);
  width: 70%;
  height: 85%;
  margin-top: 50px;
  margin-left: 250px;
}

.audit-h1{
  font-family: 'Arial', sans-serif;
  text-align: center;
}

.audit_mail-id_label {
  margin-left: 50px;
  font-weight: bold;
}

.audit_mail-id_input {
  margin-left: 20px;
  padding: 5px;
  border-radius: 5px;
  border-style: groove;
  border-width: 1px;
  border-color: black;
}

.audit_actions-label {
  margin-left: 50px;
  font-weight: bold;
}

.audit_actions-input {
  margin-left: 20px;
  padding: 5px;
  border-radius: 5px;
  border-style: groove;
  border-width: 1px;
  border-color: black;
}


.audit_to-date {
  margin-left: 15px;
  width: 250px;
}

.audit_from-date_label {
  margin-right: 15px;
  margin-left: 50px;
  font-weight: bold;
}
.audit_from-date_input {
  margin-left: 22px;
  width: 170px;
  padding: 5px;
  border-radius: 5px;
  border-style: groove;
  border-width: 1px;
  border-color: black;
}


.audit_to-date_label {
  margin-right: 15px;
  margin-left: 50px;
  font-weight: bold;
}

.audit_to-date_input {
  margin-left: 10px;
  width: 170px;
  padding: 5px;
  border-radius: 5px;
  border-style: groove;
  border-width: 1px;
  border-color: black;
}

.apply-filterbtn {
  margin-left: 30%;
  width: 110px;
  border: none;
  background: #5fc3d7;
  border-radius: 3px;
  padding: 5px;
  cursor: pointer;
}

.apply-filterbtn:hover {
  background: #0f3c46;
  color: white;
}


.audit-table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 50%;
  margin-top: 20px;
  margin-left: 25%;
  margin-bottom: 20px;
}

.audit-table_header {
  background: #156082;
  color: white;

}
.audit-table th {
padding: 8px;
}

.audit-table td {
  text-align: center;
  padding: 8px;
  border: 1px solid #ddd;
}

.editbtn {
  border: none;
  background:none;
  cursor: pointer;

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

