/* Container Styles */
.company-creation-container {
  width: 100%;
  margin-top: -26px;
  background-color: #ffffff;
  height: 110vh;
  justify-items: left;
  margin-top: -20px;
}

.company-creation-inner-container {
  width: 100%;
  margin-top: 100px;
  max-width: 716px;
  margin-left: 250px;
}

/* Title Styles */
.company-creation-title {
  text-align: center;
  font-size: 24px;
  margin-left: 225px;
}

/* Form Styles */
.company-creation-form {
  display: flex;
  flex-direction: column;
  margin-left: 250px;
}

.company-creation-form-group {
  margin-bottom: 12px;
  display: flex;
  text-align: left;
}

.company-creation-label {
  font-size: 12px;
  font-weight: bold;
  color: #333;
  margin-bottom: 8px;
  min-width: 105px;
  text-align: left;
  margin-top: 5px;
}

.company-creation-mandatory {
  color: red;
  font-size: 18px;
  margin-left: 1px;
}

/* Input Field Styles */
.company-creation-input {
  width: 58%;
  padding: 5px;
  font-size: 13px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: fit-content;
  margin-top: 8px;
  margin-left: 26px;
}

.company-creation-date-group {
  display: flex;
  flex-direction: column;
}

/* Fix for Creation Date Input */
.company-creation-date-input {
  width: 58%;
  padding: 5px;
  font-size: 13px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 8px;
  margin-left: 26px;
}

/* File Upload Styles */
.company-creation-upload-container {
  display: flex;
  align-items: center;
  width: 58%; /* Same width as other fields */
  border: 1px dashed #ccc;
  border-radius: 5px;
  height: 63px;
  position: relative;
  margin-left: 26px;
}

.company-creation-upload-icon {
  font-size: 30px;
  margin-left: 10px;
}

.company-creation-upload-text {
  margin-left: 10px;
  font-size: 14px;
  color: #333;
  cursor: pointer;
}

.company-creation-file-names {
  margin-top: 10px;
}

.company-creation-file-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.file-name {
  margin-left: 9px;
  font-size: 14px;
  color: #333;
  margin-top: -10px;
  flex-grow: 1;
}

.company-creation-remove-file-btn {
  background: transparent;
  border: none;
  color: #fa4242;
  font-size: 18px;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.company-creation-button-group {
  display: flex;
  justify-content: center;
  margin-top: 12px;
  gap: 25px;
  margin-left: 75px;
}

.company-creation-submit-button,
.company-creation-cancel-button {
  padding: 9px 19px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
}

.company-creation-submit-button {
  background-color: #5eb6d2;
  color: white;
}

.company-creation-cancel-button {
  background-color: #5eb6d2;
  color: white;
}

.company-creation-submit-button:hover {
  background-color: #4ba3bf;
}

.company-creation-cancel-button:hover {
  background-color: #5eb6d2;
}

/* Dragging styles */
.company-creation-upload-container.dragging {
  border-color: #258feb;
  background-color: #f8f9fa;
}
