/* Container */
.documenttable_container{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 75%;
  margin-left: 250px;
  position: absolute;
  top: 130px;
}


.document-list-calendarbtn{
  background: transparent;
    border: none;
}
/* Search and Filters */
.documenttable_controls {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.documenttable_search
{
  flex-direction: row-reverse;
}
.documenttable_search,
.documenttable_filter,
.documenttable_rows {
  display: flex;
  align-items: center;
  gap: 5px;
  
}

.documenttable_search_input{
  width: 260px;
}
.documenttable_filter_select,
.documenttable_rows_select {
  width: 200px;
}


/* General Table Styling */
.documenttable_td {
  padding: 1rem;
  border-bottom: 1px solid #e5e7eb;
}

.documenttable_status {
  display: inline-block;
  text-align: center;
}

/* Status-Specific Styles */
.bg-yellow-100 {
  background-color: #fef3c7;
}
.text-yellow-800 {
  color: #854d0e;
}

.bg-red-100 {
  background-color: #fee2e2;
}
.text-red-800 {
  color: #991b1b;
}

.bg-green-100 {
  background-color: #d1fae5;
}
.text-green-800 {
  color: #064e3b;
}


/* Table */
.documenttable_table {
  width: 100%;
  border-collapse: collapse;
}

.documenttable_thead {
  background-color: #f3f4f6;
  color: #000b58;
}

.documenttable_th {
  padding: 16px;
  text-align: left;
  font-weight: bold;
}

.documenttable_row {
  background-color: white;
  border-bottom: 1px solid #e5e7eb;
}

.documenttable_td {
  padding: 16px;
  text-align: left;
}

.documenttable_status {
  display: inline-block;
  text-align: center;
  width: fit-content;
}

/* Pagination */
.documenttable_pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.documenttable_pageinfo_text {
  font-size: 14px;
}

.documenttable_paging_button {
  background-color: #000b58;
  color: white;
  border-radius: 5px;
  padding: 8px 16px;
  margin-right: 40px; 
  cursor: pointer;
}

.documenttable_paging_button:disabled {
  margin-right: 40px;
  background-color: #e5e7eb;
  color: #495057;
  cursor: not-allowed;
}

.py-2{
  border-radius:7px;
}

/* .documenttable_controls{
  z-index: -1;
} */

/* svg{
  margin-left: -35px;
} */

.py-4 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}

.py-3 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

tbody, td, tfoot, th, thead, tr {
border-color: inherit;
border-style: solid;
border-width: 0;
}

.mb-4 {
margin-bottom: 1.5rem !important;
}

.py-2 {
padding-top: .5rem !important;
padding-bottom: .5rem !important;
}

.px-4 {
padding-right: 1.5rem !important;
padding-left: 1.5rem !important;
}

button, input, optgroup, select, textarea {
margin: 0;
font-family: inherit;
font-size: inherit;
line-height: inherit;
}


tbody, td, tfoot, th, thead, tr {
border-color: inherit;
border-style: solid;
border-width: 0;
}

.rounded {
border-radius:  0.375rem !important;
}
.py-1 {
padding-top: .25rem !important;
padding-bottom: .25rem !important;
}
.px-2 {
padding-right: .5rem !important;
padding-left: .5rem !important;
}